@using WebSite.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<DonHang> lst = (List<DonHang>)ViewData["lst"];
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Danh sách đơn hàng
            </div>
            <div class="panel-body">

                <table class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Chi tiết</th>
                            <th>Người mua</th>
                            <th>Ngày mua</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Đã giao</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lst == null)
                        {
                            <tr>
                                <td colspan="6">Không có sản phẩm!</td>
                            </tr>
                        }
                        else
                        {
                            for (int i = 0; i < lst.Count; i++)
                            {
                                <tr class="text-center">
                                    <td>@(i + 1)</td>
                                    <td class="text-left">
                                        <img src="~/Image//@(lst[i].MaSP)_0.png" style="width: 50px; margin-right: 15px">
                                        
                                            <strong>@lst[i].TenSP</strong>
                                        
                                    </td>
                                    <td>
                                        <strong><a href="~/Admin/TaiKhoan/Info/@lst[i].MaTK">@lst[i].HoTen</a></strong>
                                    </td>
                                    <td>
                                        <strong>@lst[i].NgayDat</strong>
                                    </td>
                                    <td>
                                        <strong>@lst[i].Soluong</strong>
                                    </td>
                                    <td>
                                        <strong>@lst[i].TongTien</strong>
                                    </td>
                                    <td>
                                        <input type="checkbox" @(lst[i].TinTrang == 1 ? "checked" : "") disabled />
                                    </td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTables').DataTable({
            responsive: true
        });
    });
</script>
